@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Inter', sans-serif;
    max-width: 1440px;
    background-color: white;
}

main{
    background-color: white;
}

.header {
    width: 1280px;
    height: 296px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 96px;
    padding-top: 92px;
    margin-left: 80px;
    margin-right: 80px;
}

.header > h5 {
    color: rgba(127, 86, 217, 1);
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.header > h1 {
    color: rgba(16, 24, 40, 1);
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
}

.header > p{
    color: rgba(102, 112, 133, 1);
    margin-bottom: 40px;
    line-height: 30px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.form {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.form > input {
    width: 360px;
    height:  48px;
    padding: 12px, 14px, 12px, 16px;
    border-radius: 8px;
    border: 1px solid rgb(208, 213, 221, 1);
    background-color: white;
}

.form > button {
    background-color:rgba(127, 86, 217, 1);
    width: 118px;
    height: 48px;
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    cursor: pointer;
    padding: 12px, 20px, 12px, 20px;
    border: none;
}

.header > h6{
    margin-top: 8px;
    color: rgba(102, 112, 133, 1);
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    width: 361px;
}

.header > h6 > a{
    text-decoration-line: underline;
}

.blog{
    height: 592px;
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 96px;
    padding-left: 32px;
    padding-right: 32px;
}

.blog > h3 {
    color: rgba(16, 24, 40, 1);
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 32px;
}

.blog-container{
    display: flex;
    flex-direction: row;
    gap: 32px;
    background-color: white;
    width: 1216px;
    height: 432px;
   
}

.blog-left {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 592px;
    height: 228px;
}

.blog-left > img{
 width: 592px;  
 height: 228px; 
 margin-bottom: 32px;
}

.blog-left > h5 {
    color: rgba(105, 65, 198, 1);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
}

.details{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    width: 592px;
    height: 32px;
    vertical-align: middle;   
}

.details  > h3 {
    line-height: 32px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 12px;
    color:rgba(16, 24, 40, 1);
}

.blog-left > p {
    color: rgba(102, 112, 133, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    margin-top: 12px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    height: 24px;
}

.btn1{
    width: 67px;
    color:  rgba(105, 65, 198, 1);
    background-color: rgba(249, 245, 255, 1);
    padding: 2px, 10px, 2px, 10px;
    border-radius: 16px;
    font-weight:500;
    font-size:14px;
    line-height: 20px;
    border: none;
    cursor: pointer;
}

.btn2{
    width: 114px;
    background-color:  rgba(238, 244, 255, 1);
    color: rgba(53, 56, 205, 1);
    padding: 2px, 10px, 2px, 10px;
    border-radius: 16px;
    font-weight:500;
    font-size:14px;
    line-height: 20px;
    border: none; 
    cursor: pointer;
}

.btn3{
    width: 106px;
    background-color: rgba(253, 242, 250, 1);
    color: rgba(193, 21, 116, 1);
    padding: 2px, 10px, 2px, 10px;
    border-radius: 16px;
    font-weight:500;
    font-size:14px;
    line-height: 20px;
    border: none;
    cursor: pointer;
}

.blog-right{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 592px;
    height: 200px;
    background-color: white;
}

.top {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 592px;
    height: 200px;
    gap: 24px;
}

.top > img{
    width: 320px;
    height: 200px;
}

.card-info > h5{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: rgba(105, 65, 198, 1);
    padding-bottom: 12px; 
}

.card-info > h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: rgba(16, 24, 40, 1);
    padding-bottom: 8px;
}

.card-info > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:rgba(102, 112, 133, 1);
    padding-bottom: 24px;
}

.buttontop {
    display: flex;
    flex-direction: row;
    gap: 24px;
    background-color: white;
}

.cardbottom > img{
    width: 320px;
    height: 200px;
}

.btn-A{
    width: 67px;
    background-color: rgba(240, 249, 255, 1);
    color: rgba(2, 106, 162, 1);
    padding: 2px, 10px, 2px, 10px;
    border-radius: 16px;
    font-weight:500;
    font-size:14px;
    line-height: 20px;
    border: none; 
    cursor: pointer;
}

.btn-B{
    width: 83px;
    background-color: rgba(253, 242, 250, 1);
    color: rgba(193, 21, 116, 1);
    padding: 2px, 10px, 2px, 10px;
    border-radius: 16px;
    font-weight:500;
    font-size:14px;
    line-height: 20px;
    border: none; 
    cursor: pointer;
}

.bottom {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 592px;
    height: 200px;
    gap: 24px;
}

.bottom > img{
    width: 320px;
    height: 200px;
}

.card-info2 > img{
    width: 320px;
    height: 200px;
}

.card-info2 > h5{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: rgba(105, 65, 198, 1);
    padding-bottom: 12px; 
}


.card-info2 > h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: rgba(16, 24, 40, 1);
    padding-bottom: 8px;
}

.card-info2 > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:rgba(102, 112, 133, 1);
    padding-bottom: 24px;
}

.bottombotton{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.btn-C{
    width: 67px;
    background-color: rgba(236, 253, 243, 1);
    color:rgba(2, 122, 72, 1);
    padding: 2px, 10px, 2px, 10px;
    border-radius: 16px;
    font-weight:500;
    font-size:14px;
    line-height: 20px;
    border: none; 
    cursor: pointer;
}

.btn-D{
    width: 83px;
    background-color: rgba(253, 242, 250, 1);
    color: rgba(193, 21, 116, 1);
    padding: 2px, 10px, 2px, 10px;
    border-radius: 16px;
    font-weight:500;
    font-size:14px;
    line-height: 20px;
    border: none; 
    cursor: pointer;
}

.cards > h3{
    color: rgba(16, 24, 40, 1);
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 32px;
}

.card-info1{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.card-info1 > img{
    width: 384px;
    height: 240px;
}

.card-info1 > h5 {
    color: rgba(105, 65, 198, 1);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-top: 32px;
}

.details1{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    height: 32px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 384px;
    height: 32px;
    align-items: flex-start;
}


.details1 > h3{
    color: rgba(16, 24, 40, 1);
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    align-self: center;
    vertical-align: middle;
}

.details1 > img{
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

 .card-info1 > p{
    color: rgba(102, 112, 133, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
 }

 .card-info1 {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.btn-E{
    width: 95px;
    background-color: rgba(249, 245, 255, 1);
    color:rgba(105, 65, 198, 1);
    padding: 2px, 10px, 2px, 10px;
    border-radius: 16px;
    gap: 16px;
    font-weight:500;
    font-size:14px;
    line-height: 20px;
    border: none; 
    cursor: pointer;
}

.btn-F{
    width: 108px;
    background-color: rgba(248, 249, 252, 1);
    color: rgba(54, 63, 114, 1);
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 2px;
    border-radius: 16px;
    font-weight:500;
    font-size:14px;
    line-height: 20px;
    gap: 16px;
    border: none; 
    cursor: pointer;
}

.card-info2 > img{
    width: 384px;
    height: 240px;
}

.details2{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    height: 32px;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 384px;
    height: 32px;
    align-items: flex-start;
}

.details2 > h3{
    color: rgba(16, 24, 40, 1);
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    align-self: center;
    vertical-align: middle;
}

.details2 > img{
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-bottom: 24px;
}

.card-info2 > p{
    color: rgba(102, 112, 133, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
 }

 .card-info2 {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.card-info2 > h5 {
    color: rgba(105, 65, 198, 1);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-top: 32px;
}

.btn-G{
    width: 73px;
    background-color: rgba(240, 249, 255, 1);
    color: rgba(2, 106, 162, 1);
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-radius: 16px;
    gap: 16px;
    font-weight:500;
    font-size:14px;
    line-height: 20px;
    border: none; 
    cursor: pointer;
}

.btn-H{
    width: 83px;
    background-color: rgba(238, 244, 255, 1);
    color: rgba(53, 56, 205, 1);
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-radius: 16px;
    gap: 16px;
    font-weight:500;
    font-size:14px;
    line-height: 20px;
    border: none; 
    cursor: pointer;
}

.btn-I{
    width: 103px;
    background-color:  rgba(255, 246, 237, 1);
    color:  rgba(196, 50, 10, 1);
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-radius: 16px;
    gap: 16px;
    font-weight:500;
    font-size:14px;
    line-height: 20px;
    border: none; 
    cursor: pointer;
}

.card-info3 > img{
    width: 384px;
    height: 240px;
}

.card-info3 {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.card-info3 > h5 {
    color: rgba(105, 65, 198, 1);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-top: 32px;
}

.details3{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    height: 32px;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 384px;
    height: 32px;
    align-items:flex-start;
}

.details3 > h3{
    color: rgba(16, 24, 40, 1);
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    align-self: center;
    vertical-align: middle;
}

.details3 > img{
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-bottom: 24px;
}

.card-info3 > p{
    color: rgba(102, 112, 133, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
 }

 
.btn-J{
    width: 67px;
    background-color: rgba(249, 245, 255, 1);
    color: rgba(105, 65, 198, 1);
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-radius: 16px;
    gap: 16px;
    font-weight:500;
    font-size:14px;
    line-height: 20px;
    border: none; 
    cursor: pointer;
}

.btn-K{
    width: 83px;
    background-color: rgba(238, 244, 255, 1);
    color: rgba(53, 56, 205, 1);
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-radius: 16px;
    gap: 16px;
    font-weight:500;
    font-size:14px;
    line-height: 20px;
    border: none; 
    cursor: pointer;
}

.card-info4 > img{
    width: 384px;
    height: 240px;
}

.card-info4 {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.card-info4 > h5 {
    color: rgba(105, 65, 198, 1);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-top: 32px;
}

.details4{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    height: 32px;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 384px;
    height: 32px;
    align-items:flex-start;
}

.details4 > h3{
    color: rgba(16, 24, 40, 1);
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    align-self: center;
    vertical-align: middle;
    margin-top: 12px;
}

.details4 > img{
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-bottom: 24px;
}

.card-info4 > p{
    color: rgba(102, 112, 133, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    margin-top: 12px;
 }

 
.btn-L{
    width: 67px;
    background-color:  rgba(249, 245, 255, 1);
    color: rgba(105, 65, 198, 1);
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-radius: 16px;
    gap: 16px;
    font-weight:500;
    font-size:14px;
    line-height: 20px;
    border: none; 
    cursor: pointer;
}

.btn-M{
    width: 83px;
    background-color: rgba(238, 244, 255, 1);
    color: rgba(53, 56, 205, 1);
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-radius: 16px;
    gap: 16px;
    font-weight:500;
    font-size:14px;
    line-height: 20px;
    border: none; 
    cursor: pointer;
}

.card-info5 > img{
    width: 384px;
    height: 240px;
}

.card-info5 {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.card-info5 > h5 {
    color: rgba(105, 65, 198, 1);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-top: 32px;
}

.details5{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    height: 32px;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 384px;
    height: 32px;
    align-items:flex-start;
}

.details5 > h3{
    color: rgba(16, 24, 40, 1);
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    align-self: center;
    vertical-align: middle;
    margin-top: 12px;
    margin-bottom: 12px;
}

.details5 > img{
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-bottom: 24px;
}

.card-info5 > p{
    color: rgba(102, 112, 133, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
 }

 
.btn-N{
    width: 174px;
    background-color: rgba(236, 253, 243, 1);
    color: rgba(2, 122, 72, 1);
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-radius: 16px;
    gap: 16px;
    font-weight:500;
    font-size:14px;
    line-height: 20px;
    border: none; 
    cursor: pointer;
}

.btn-O{
    width: 56px;
    background-color: rgba(253, 242, 250, 1);
    color:  rgba(193, 21, 116, 1);
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-radius: 16px;
    gap: 16px;
    font-weight:500;
    font-size:14px;
    line-height: 20px;
    border: none; 
    cursor: pointer;
}

.btn-P{
    width: 54px;
    background-color: rgba(255, 241, 243, 1);
    color: rgba(192, 16, 72, 1);
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-radius: 16px;
    gap: 16px;
    font-weight:500;
    font-size:14px;
    line-height: 20px;
    border: none; 
    cursor: pointer;
}

.card-info6 > img{
    width: 384px;
    height: 240px;
}


.card-info6 {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.card-info6 > h5 {
    color: rgba(105, 65, 198, 1);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-top: 32px;
}

.details6{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    height: 32px;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 384px;
    height: 32px;
    align-items:flex-start;
}

.details6 > h3{
    color: rgba(16, 24, 40, 1);
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    align-self: center;
    vertical-align: middle;
    margin-top: 12px;
}

.details6 > img{
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-bottom: 24px;
}

.card-info6 > p{
    color: rgba(102, 112, 133, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    margin-top: 12px;
 }


.btn-Q{
    width: 83px;
    background-color: rgba(249, 245, 255, 1);
    color:  rgba(105, 65, 198, 1);
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-radius: 16px;
    gap: 16px;
    font-weight:500;
    font-size:14px;
    line-height: 20px;
    border: none; 
    cursor: pointer;
}

.btn-R{
    width: 146px;
    background-color:  rgba(248, 249, 252, 1);
    color:rgba(54, 63, 114, 1);
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-radius: 16px;
    gap: 16px;
    font-weight:500;
    font-size:14px;
    line-height: 20px;
    border: none; 
    cursor: pointer;
}

.cards{
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 96px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
}

.card-info1{
    grid-column:1/2;
    grid-row: 1/2
}

.card-info2{
    grid-column: 2/3;
    grid-row: 1/2;
}

.card-info3{
    grid-column: 3/4;
    grid-row: 1/2;
}

.card-info4{
    grid-column: 1/2;
    grid-row: 2/3;
}

.card-info5{
    grid-column: 2/3;
    grid-row: 2/3;
}

.card-info6{
    grid-column: 3/4;
    grid-row: 2/3;
}












